{% load static %}
<html>
  <head>

    <style>
      .contenido{
      background: rgb(176,191,5);
      background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
      }
      label{
          color:aliceblue;
        }
        a{
          color:rgb(18, 212, 18);
        }
        th{
          background:rgb(165, 87, 87);

          color:rgb(255, 247, 0);
        }
        table{
          background:red;
        }
        tr{
          color:rgb(255, 255, 255);

        }
    </style>
    <script src="https://kit.fontawesome.com/96e0ae4487.js" crossorigin="anonymous"></script>
    <title>EstudianteVLGE</title>
    <link rel="stylesheet" href={% static "app/css/Admlista.css" %} />
  </head>
  <body>
    <div class="contenido">
      <div class="imagenatras">
        <div>
          <button class="botonatras">Atras</button>
        </div>
        <img src={% static "app/img/default-user.png" %} alt="userpic" width="100px" />
        <br />
        <h3>
          Estudiante:Pepito Perez
          <br />
          Facultad: Ing. de Telecomunicaciones
        </h3>
      </div>
      <div class="logousta">
        <img src={% static "app/img/SantotoEscudo.png" %} alt="logou" width="100px" />
      </div>

      <div class="tabla">
        <table border="1">
          <label for="Listg" class="titulota">Lista de Grupos</label>
          <tr>
            <th>Semestre</th>
            <th>Id de Grupo</th>
            <th>Asignatura</th>
            <th>Informacion Grupo</th>
          </tr>
          <tr>
              <td rowspan="3">5</td>
              <td>4123</td>
              <td>Comercio</td>
              <td><a href="{% url 'app:estudiantemateria' %}" class="boton5"><i class="fas fa-user-plus"></i></a></td>
          </tr>
          <tr>
              <td>3256</td>
              <td>Mercadeo</td>
              <td><a href="{% url 'app:estudiantemateria' %}" class="boton5"><i class="fas fa-user-plus"></i></a></td>
          </tr>
          <tr>
              <td>4256</td>
              <td>Telematica</td>
              <td><a href="{% url 'app:estudiantemateria' %}" class="boton5"><i class="fas fa-user-plus"></i></a></td>
          </tr>
          <tr>
              <td rowspan="2">6</td>
              <td>6645</td>
              <td>Filosofia</td>
              <td><a href="{% url 'app:estudiantemateria' %}" class="boton5"><i class="fas fa-user-plus"></i></a></td>
          </tr>
          <tr>
              <td>7887</td>
              <td>Fisica Mecanica</td>
              <td><a href="{% url 'app:estudiantemateria' %}" class="boton5"><i class="fas fa-user-plus"></i></a></td>
          </tr>
        </table>
      </div>
      <div class="banner">
        <img src={% static "app/img/logo-usta.png" %}  alt="logof" width="500" />
      </div>
      <div class="cerrars">
        <button class="cerrarsesion">Cerrar Sesion</button>
      </div>
    </div>
  </body>
</html>
