{% load static %}
<html>
  <head>

    <style>
      .contenido{
      background: rgb(176,191,5);
      background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
      }
      label{
          color:aliceblue;
        }
        a{
          color:rgb(18, 212, 18);
        }
        th{
          background:rgb(165, 87, 87);

          color:rgb(255, 247, 0);
        }
        table{
          background:red;
        }
        tr{
          color:rgb(255, 255, 255);

        }
    </style>

    <title>EstudianteVLGE</title>
    <link rel="stylesheet" href={% static "app/css/Admlista.css" %} />
  </head>
  <body>
    <div class="contenido">
      <div class="imagenatras">
        <div>
          <button class="botonatras">Atras</button>
        </div>
        <img src={% static "app/img/default-user.png" %} alt="userpic" width="100px" />
        <br />
        <h3>
          Estudiante:Pepito Perez
          <br />
          Facultad: Ing. de Telecomunicaciones
        </h3>
      </div>
      <div class="logousta">
        <img src={% static "app/img/SantotoEscudo.png" %} alt="logou" width="100px" />
      </div>

      <div class="tabla">
        <table border="1">
          <label for="Listg" class="titulota">Grupo:</label>
          <label for="Listg" class="titulota">4123</label>
          <label for="Listg" class="titulota">Codigo Estudiante:</label>
          <label for="Listg" class="titulota">2232377:</label>
          <tr>
            <th rowspan="2">Semestre</th>
            <th rowspan="2">Asignatura</th>
            <th rowspan="2">Profesor</th>
            <th colspan="2">Lista de Notas</th>
          </tr>
          <tr>
            <th>Descripcion</th>
            <th>Nota</th>
          </tr>
          <tr>
            <td rowspan="3">5</td>
            <td rowspan="3">Comercio</td>
            <td rowspan="3">Pepio Perez</td>
            <td>Taller</td>
            <td>3.5</td>
          </tr>
          <tr>
            <td>Parcial</td>
            <td>4.0</td>
          </tr>
          <tr>
            <td>Quiz</td>
            <td>1.0</td>
          </tr>
        </table>
      </div>
      <div class="banner">
        <img src={% static "app/img/logo-usta.png" %}  alt="logof" width="500" />
      </div>
      <div class="cerrars">
        <button class="cerrarsesion">Cerrar Sesion</button>
      </div>
    </div>
  </body>
</html>
