{% load static %}
<html>
  <head>

    <style>
      .contenido{
      background: rgb(176,191,5);
      background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
      }
  
  
        .botones a{
          color:white;
          display:grid;
          grid-row:2/3;
          text-decoration:none;
          background-color: #549B9E;
          text-align: center;
          font-size: 20px;
          padding: 10px 10px;
        }
        .botones :hover{
          background-color: #217c80;
          text-align: center;
          font-size: 20px;
          border-top: 3px solid grey;
        }
        .imagenatras a{
          color:white;
          display:grid;
          grid-row:2/3;
          text-decoration:none;
          background-color: #549B9E;
          text-align: center;
          font-size: 20px;
          padding: 10px 10px;
        }
        .imagenatras :hover{
          background-color: #217c80;
          text-align: center;
          font-size: 20px;
          border-top: 3px solid grey;
        }
        label{
          color:aliceblue;
        }
        a{
          color:rgb(18, 212, 18);
        }
        th{
          background:rgb(165, 87, 87);

          color:rgb(255, 247, 0);
        }
        table{
          background:red;
        }
        tr{
          color:rgb(255, 255, 255);

        }
    </style>
    <script src="https://kit.fontawesome.com/96e0ae4487.js" crossorigin="anonymous"></script>
    <title>ProfesorGVLG</title>
    <link rel="stylesheet" href={% static "app/css/Admlista.css" %} />
  </head>
  <body>
    <div class="contenido">
      <div class="imagenatras">
        <div>
          <!-- <button class="botonatras">Atras</button> -->
          <a href="{% url 'app:profesor' %}" >Atras</a>
        </div>
        <img src={% static "app/img/default-user.png" %} alt="userpic" width="100px" />
        <br />
        <h3>
          Profesor Pepito Perez
          <br />
          Facultad: Ing. de Telecomunicaciones
        </h3>
      </div>
      <div class="botones">
        <div class="botones001">
          <!-- <button class="boton1">Pagina Principal</button> -->
          <a href="{% url 'app:profesor' %}" >Pagina Principal</a>
          <!-- <a href="{% url 'app:Grupo 1' %}" >Ver ID de Grupo</a> -->
        </div>
      </div>
      <div class="logousta">
        <img src={% static "app/img/SantotoEscudo.png" %} alt="logou" width="100px" />
      </div>

      <div class="tabla">
        <table border="1">
          <label for="Listg" class="titulota">Lista de Grupos</label>
          <tr>
            <th>ID Grupos</th>
            <th>Semestres</th>
            <th>Codigo de Grupo</th>
            <th>Asignatura</th>
            <th>Ver Grupo</th>
          </tr>
          {% for grupo in listapg %}
          <tr>
            <td>{{ grupo.idgrupos }}</td>
            <td>{{ grupo.semestres }}</td>
            <td>{{ grupo.codigodegrupo }}</td>
            <td>{{ grupo.asignatura }}</td>
            <td><a href="{% url 'app:Grupo 1' %}" ><i class="fas fa-info"></i></a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="banner">
        <img src={% static "app/img/logo-usta.png" %} alt="logof" width="500" />
      </div>
      <div class="cerrars">
        <button class="cerrarsesion">Cerrar Sesion</button>
      </div>
    </div>
  </body>
</html>
