{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <style>
      .contenedor{
      background: rgb(176,191,5);
      background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
      }

      label{
        color:rgb(233, 222, 76);
      }
        input{

        color:rgb(0, 0, 0);
        text-decoration:none;
        background-color: #ffffff;
        text-align: center;
        font-size: 10px;
        padding: 10px 40px;
        box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
        }
        .bcalificar{

          color:white;
          text-decoration:none;
          background-color: #4c41ec;
          text-align: center;
          font-size: 20px;
          padding: 20px 20px;
          box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
          }
    </style>

    <title>Calificar Actividad</title>
    <link rel="stylesheet" href={% static "app/css/calificaractividad.css" %} />
  </head>
  <body>
    <div class="contenedor">
      <div class="batras">
        <button class="botonatras">Atras</button>
      </div>
      <div class="logousta">
        <img src={% static "app/img/SantotoEscudo.png" %}  alt="logou" width="100px" />
      </div>
      <div class="titulo">
        <h2>Calificar Actividad</h2>
      </div>
      <div class="datosg">
        <div class="grupo">
          <label for="grupo" class="tidgrupo">ID del grupo</label>
          <input
            class="nidgrupo"
            type="number"
            id="idgrupo"
            placeholder="Digite el ID del grupo"
          />
        </div>
        <br>
        <div class="estudiante">
          <label for="estudiante" class="tidestudiante">ID del estudiante</label>
          <input
            class="nidestudiante"
            type="number"
            id="idestudiante"
            placeholder="Digite el ID del estudiante"
          />
        </div>
        <br>
        <div class="actividad">
          <label for="actividad" class="tidactividad">ID de la actividad</label>
          <input
            class="nidactividad"
            type="number"
            id="idactividad"
            placeholder="id grupo"
          />
        </div>
        <br>
        <div class="calificacion">
          <label for="calificacion" class="tcalificacion">Calificacion</label>
          <input
            class="ncalificacion"
            type="number"
            id="calificacion"
            placeholder="Digite la Calificacion"
          />
        </div>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class="calificar">
        <button class="bcalificar">Calificar Actividad</button>
      </div>
      <div class="banner">
        <img src={% static "app/img/logo-usta.png" %} alt="logo" width="600px" />
      </div>
    </div>
  </body>
</html>
