{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .contenedor{
      background: rgb(176,191,5);
      background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
      }

      label{
        
        color:rgb(233, 222, 76);
      }
        input{

        color:rgb(0, 0, 0);
        text-decoration:none;
        background-color: #ffffff;
        text-align: center;
        font-size: 20px;
        padding: 10px 10px;
        box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
        }
  </style>
    <title>Crear Actividad</title>
    <link rel="stylesheet" href={% static "app/css/crearactividad.css" %} />
  </head>
  <body>
    <div class="contenedor">
      <div class="batras">
        <button class="botonatras">Atras</button>
      </div>
      <div class="logousta">
        <img src={% static "app/img/SantotoEscudo.png" %} alt="logou" width="100px" />
      </div>
      <div class="titulo">
        <h2>Crear Actividad</h2>
      </div>
      <div class="datosg">
        <div class="actividad">
          <label for="actividad" class="tactividad">ID de la Actividad</label>
          <input
            class="nactividad"
            type="number"
            id="codigo1"
            placeholder="Digite el ID"
          />
        </div>
        <br>
        <div class="texto">
          <label for="texto" class="ttexto">Descripcion</label>
          <textarea 
          name="textarea" 
          rows="10" 
          cols="50">
          Agregue la Descripción de la actividad
          </textarea>
        </div>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class="crearactividad">
        <button class="bcrearactividad">Crear Actividad</button>
      </div>
      <div class="banner">
        <img src={% static "app/img/logo-usta.png" %} alt="logo" width="600px" />
      </div>
    </div>
  </body>
</html>
