{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>  
        h3{

          font-size:20px;
        }

        .grupos a{
          color:rgb(255, 255, 255);
          display:grid;
          grid-row:2/3;
          text-decoration:none;
          background-color: #549B9E;
          text-align: center;
          font-size: 40px;
          padding: 40px 90px;
          box-shadow: inset 0px 8px 10px rgba(0, 0, 0, 0.25);

        }
        .grupos :hover{
          background-color: #217c80;
          text-align: center;
          font-size: 40px;
          border-top: 3px solid grey;
          padding: 40px 90px;

        }
        .profesores a{
          color:white;
          display:grid;
          grid-row:2/3;
          text-decoration:none;
          background-color: #549B9E;
          text-align: center;
          font-size: 40px;
          padding: 40px 90px;
          box-shadow: inset 0px 8px 10px rgba(0, 0, 0, 0.25);
        }
        .profesores :hover{
          background-color: #217c80;
          text-align: center;
          font-size: 40px;
          border-top: 3px solid grey;
          padding: 40px 90px;
        }
        .estudiantes a{
          color:white;
          display:grid;
          grid-row:2/3;
          text-decoration:none;
          background-color: #549B9E;
          text-align: center;
          font-size: 40px;
          padding: 40px 90px;
          box-shadow: inset 0px 8px 10px rgba(0, 0, 0, 0.25);

        }
        .estudiantes :hover{
          background-color: #217c80;
          text-align: center;
          font-size: 40px;
          border-top: 3px solid grey;
          padding: 40px 90px;
        }
    </style>
    <link rel="stylesheet" href={% static "app/css/admin.css" %} />
    <title>Profesor</title>
  </head>
  <body>
    <div class="contenedor">
      <div class="fotousuario">
        <img src={% static "app/img/default-user.png" %} alt="userpic" width="100px" />
        <br>
        <h3>
            Profesor Pepito Perez
            <br>
            Facultad: Ing. de Telecomunicaciones
        </h3>
      </div>
      <div class="logousta">
        <img src={% static "app/img/SantotoEscudo.png" %} alt="logou" width="100px" />
      </div>
      <div class="grupos">
          <!-- <button class="botongrupos">
              Grupos
          </button> -->
          <a href="{% url 'app:Grupos1' %}" >Grupos</a>
      </div>
      <div class="profesores">
          <!-- <button class="botonprofesores">
              Actividad
          </button> -->
          <a href="{% url 'app:Actividades' %}" >Actividades</a>
      </div>
      <div class="estudiantes">
          <!-- <button class="botonestudiantes">
              Estudiantes
          </button> -->
          <a href="{% url 'app:Principal Estudiantes' %}" >Estudiantes</a>
      </div>
      <div class="banner">
          <img src={% static "app/img/logo-usta.png" %} alt="logof" width="500">
      </div>
      <div class="cerrars">
          <button class="cerrarsesion">
              Cerrar Sesion
          </button>
      </div>
    </div>
  </body>
</html>
