{% load static %}
<html>
  <head>

    <style>
      .contenido{
      background: rgb(176,191,5);
      background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
      }
  
  
        .botones a{
          color:white;
          display:grid;
          grid-row:2/3;
          text-decoration:none;
          background-color: #549B9E;
          text-align: center;
          font-size: 20px;
          padding: 10px 10px;
        }
        .botones :hover{
          background-color: #217c80;
          text-align: center;
          font-size: 20px;
          border-top: 3px solid grey;
        }
        label{
          color:aliceblue;
        }
        a{
          color:rgb(18, 212, 18);
        }
        th{
          background:rgb(165, 87, 87);

          color:rgb(255, 247, 0);
        }
        table{
          background:red;
        }
        tr{
          color:rgb(255, 255, 255);

        }
    </style>

    <title>ProfesorGVGGP</title>
    <link rel="stylesheet" href={% static "app/css/Admlista.css" %} />
  </head>
  <body>
    <div class="contenido">
      <div class="imagenatras">
        <div>
          <button class="botonatras">Atras</button>
        </div>
        <img src={% static "app/img/default-user.png" %} alt="userpic" width="100px" />
        <br />
        <h3>
          Profesor Pepito Perez
          <br />
          Facultad: Ing. de Telecomunicaciones
        </h3>
      </div>
      <div class="botones">
        <div class="botones001">
          <!-- <button class="boton1">Pagina Principal</button> -->
          <a href="{% url 'app:profesor' %}" class="boton1">Pagina Principal</a>
        </div>
      </div>
      <div class="logousta">
        <img src={% static "app/img/SantotoEscudo.png" %} alt="logou" width="100px" />
      </div>

      <div class="tabla">
        <div class="ttabla">
          <label for="" class="titulo">ID De Grupo:</label>
          <div class="nid">
            <label for="Numero" class="numeroid">1</label>
          </div>
        </div>
        <table border="1">
          <label for="Listg" class="titulota">Grupo</label>
          <tr>
            <!--el rowspan es para que llege filas y colspan columnas-->
            <th rowspan="2">Id Grupo</th>
            <th rowspan="2">Codigo de Grupos</th>
            <th rowspan="2">Asignatura</th>
            <th rowspan="2">Profesor</th>
            <th colspan="2">Actividades</th>
            <th colspan="3">Lista de Estudiantes</th>
          </tr>
          <tr>
              <th>Numero Actividad</th>
              <th>Descripcion</th>
              <th>Apellidos</th>
              <th>Nombres</th>
              <th>Email</th>
          </tr>
          <tr>
              <td rowspan="3">1</td>
              <td rowspan="3">1213</td>
              <td rowspan="3">Mercadeo</td>
              <td rowspan="3">Pepito Perez</td>
              <td rowspan="2">1</td>
              <td rowspan="2">Taller</td>
              <td>Cortazar Guillen</td>
              <td>Alejandro</td>
              <td>guillencortazaralejandro@gmail.com</td>
          </tr>
          <tr>
              <td>Rodriguez Valderrama</td>
              <td>Jair</td>
              <td>jairrodriguez@usantotomas.edu.co</td>
          </tr>
          <tr>
              <td>2</td>
              <td>Parcial</td>
              <td>Cortazar Guillen</td>
              <td>Alejandro</td>
              <td>guillencortazaralejandro@gmail.com</td>
          </tr>
        </table>
      </div>
      <div class="banner">
        <img src={% static "app/img/logo-usta.png" %} alt="logof" width="500" />
      </div>
      <div class="cerrars">
        <button class="cerrarsesion">Cerrar Sesion</button>
      </div>
    </div>
  </body>
</html>
