{%load static%}
<html>
  <head>
    <style>
      .contenido{
      background: rgb(176,191,5);
      background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
      }
        label{
          color:aliceblue;
        }
        a{
          color:rgb(18, 212, 18);
        }
        th{
          background:rgb(165, 87, 87);

          color:rgb(255, 247, 0);
        }
        table{
          background:red;
        }
        tr{
          color:rgb(255, 255, 255);

        }
       
        .botones001 a{
          color:white;
          display:grid;
          grid-row:2/3;
          text-decoration:none;
          background-color: #549B9E;
          text-align: center;
          font-size: 20px;
          padding: 10px 10px;
        }
        .botones001 :hover{
          background-color: #217c80;
          text-align: center;
          font-size: 20px;
          border-top: 3px solid grey;
        }
        .imagenatras a{
          color:white;
          display:grid;
          grid-row:2/3;
          text-decoration:none;
          background-color: #549B9E;
          text-align: center;
          font-size: 20px;
          padding: 10px 10px;
        }
        .imagenatras :hover{
          background-color: #217c80;
          text-align: center;
          font-size: 20px;
          border-top: 3px solid grey;
        }
    </style>
    <script src="https://kit.fontawesome.com/96e0ae4487.js" crossorigin="anonymous"></script>
    <title>ProfesorActividades</title>
    <link rel="stylesheet" href={% static 'app/css/Admlista.css' %}/>
  </head>
  <body>
    <div class="contenido">
      <div class="imagenatras">
        <div>
          <!-- <button class="botonatras">Atras</button> -->
          <a href="{% url 'app:profesor' %}" class="botonatras" >Atras</a>
        </div>
        <img src={% static "app/img/default-user.png" %} alt="userpic" width="100px" />
        <br />
        <h3>
          Profesor Pepito Perez
          <br />
          Facultad: Ing. de Telecomunicaciones
        </h3>
      </div>
      <div class="botones">
        <div class="botones001">
          <!-- <button class="boton1">Pagina Principal</button> -->
          <a href="{% url 'app:profesor' %}" class="boton1" >Pagina Principal</a>
        </div>
      </div>
      <div class="logousta">
        <img src={% static "app/img/SantotoEscudo.png" %} alt="logou" width="100px" />
      </div>

      <div class="tabla">
        <div class="ttabla">
        </div>
        <table border="1">
          <label for="Listg" class="titulota">Lista de Actividades</label>
          <tr>
            <!--el rowspan es para que llege filas y colspan columnas-->
            <th rowspan="2">Id Actividad</th>
            <th rowspan="2">Descripcion</th>
            <th colspan="7">Grupos</th>
          </tr>
          <tr>
              <th>Codigo del Grupo</th>
              <th>Asignatura del Grupo</th>
              <th>Semestre del Grupo</th>
              <th>Crear Actividad</th>
              <th>Editar Actividad</th>
              <th>Calificar Actividad</th>
              <th>Ver Id de Actividad</th>
          </tr>
          {% for actividades in listaprofesora %}
          <tr>
              <td>{{ actividades.id }}</td>
              <td>{{ actividades.descripcion }}</td>
              <td>{{ actividades.codigodelgrupo }}</td>
              <td>{{ actividades.asignaturadelgrupo }}</td>
              <td>{{ actividades.semestredelgrupo }}</td>
              <td><a href="{% url 'app:Crear Actividad' %}" class="boton2" ><i class="fas fa-plus"></i></a></td>
              <td><a href="{% url 'app:Editar Actividad' %}" class="boton3" ><i class="fas fa-edit"></i></a></td>
              <td><a href="{% url 'app:calificaractividad' %}" class="boton4" ><i class="fas fa-book-open"></i></a></td>
              <td><a href="{% url 'app:Actividades Grupo' %}" class="boton5" ><i class="fas fa-info"></i></a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="banner">
        <img src={% static "app/img/logo-usta.png" %} alt="logof" width="500" />
      </div>
      <div class="cerrars">
        <button class="cerrarsesion">Cerrar Sesion</button>
      </div>
    </div>
  </body>
</html>
