{% load static %}
<html>
  <head>
    <style>
      .contenido{
      background: rgb(176,191,5);
      background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
      }

      .botones a{
          color:white;
          display:grid;
          grid-row:2/3;
          text-decoration:none;
          background-color: #549B9E;
          text-align: center;
          font-size: 20px;
          padding: 10px 10px;
        }
        .botones :hover{
          background-color: #217c80;
          text-align: center;
          font-size: 20px;
          border-top: 3px solid grey;
        }

        .imagenatras a{
          color:white;
          display:grid;
          grid-row:2/3;
          text-decoration:none;
          background-color: #549B9E;
          text-align: center;
          font-size: 20px;
          padding: 10px 10px;
        }
        .imagenatras :hover{
          background-color: #217c80;
          text-align: center;
          font-size: 20px;
          border-top: 3px solid grey;
        }
        label{
          color:aliceblue;
        }
        a{
          color:rgb(18, 212, 18);
        }
        th{
          background:rgb(165, 87, 87);

          color:rgb(255, 247, 0);
        }
        table{
          background:red;
        }
        tr{
          color:rgb(255, 255, 255);

        }


    </style>
    <title>ProfesorGVEG</title>
    <link rel="stylesheet" href={% static "app/css/Admlista.css" %} />
  </head>
  <body>
    <div class="contenido">
      <div class="imagenatras">
        <div>
          <button class="botonatras">Atras</button>
        </div>
        <img src={% static "app/img/default-user.png" %} alt="userpic" width="100px" />
        <br />
        <h3>
          Profesor Pepito Perez
          <br />
          Facultad: Ing. de Telecomunicaciones
        </h3>
      </div>
      <div class="botones">
        <div class="botones001">
          <!-- <button class="boton1">Pagina Principal</button> -->
          <a href="{% url 'app:profesor' %}" class="boton1">Pagina Principal</a>
        </div>
      </div>
      <div class="logousta">
        <img src={% static "app/img/SantotoEscudo.png" %} alt="logou" width="100px" />
      </div>

      <div class="tabla">
        <div class="ttabla">
          <div>
            <label for="" class="titulo">ID De Grupo:</label>
            <label for="Numero" class="numeroid">1</label>
          </div>
          <div>
            <label for="" class="Idestudiante">ID del Estudiante:</label>
            <label for="Numero" class="numeroid">2232377</label>
          </div>
        </div>
        <table border="1">
          <label for="Listg" class="titulota">Grupo Estudiante</label>
          <tr>
            <!--el rowspan es para que llege filas y colspan columnas-->
            <th rowspan="2">Id Grupo</th>
            <th rowspan="2">Id Estudiante</th>
            <th colspan="3">Lista de Estudiante</th>
            <th colspan="3">Actividades</th>
          </tr>
          <tr>
            <th>Apellidos</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Numero Actividad</th>
            <th>Descripcion</th>
            <th>Notas</th>
          </tr>
          <tr>
            <td rowspan="3">1</td>
            <td rowspan="3">2232377</td>
            <td rowspan="3">Cortazar Guillen</td>
            <td rowspan="3">Alejandro</td>
            <td rowspan="3">guillencortazaralajandro@gmail.com</td>
            <td>1</td>
            <td>Taller</td>
            <td>3</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Actividad</td>
            <td>4.5</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Parcial</td>
            <td>3.5</td>
          </tr>
        </table>
      </div>
      <div class="banner">
        <img src={% static "app/img/logo-usta.png" %} alt="logof" width="500" />
      </div>
      <div class="cerrars">
        <button class="cerrarsesion">Cerrar Sesion</button>
      </div>
    </div>
  </body>
</html>
