{% load static %}
<html>
  <head>

    <style>       
      .contenido{
      background: rgb(176,191,5);
      background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
      }
  
  
        .batras a{
        color:white;
          display:grid;
          grid-row:2/3;
          text-decoration:none;
          background-color: #549B9E;
          text-align: center;
          font-size: 20px;
          padding: 10px 10px;
        }
        .batras :hover{
          background-color: #217c80;
          text-align: center;
          font-size: 20px;
          border-top: 3px solid grey;
        }  

        label{
        color:rgb(233, 222, 76);
      }
        input{

        color:rgb(0, 0, 0);
        text-decoration:none;
        background-color: #ffffff;
        text-align: center;
        font-size: 20px;
        padding: 10px 10px;
        box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
        }

        .botonregistro{

        color:white;
        text-decoration:none;
        background-color: #4c41ec;
        text-align: center;
        font-size: 20px;
        padding: 20px 20px;
        box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
        }

    </style>

    <title>Registros</title>
    <link rel="stylesheet" href={% static "app/css/registro.css" %} />
  </head>
  <body>
    <div class="contenido">
      <div class="batras">
        <!-- <button class="ba">Atras</button> -->
        <a href="{% url 'app:index' %}" class="ba">Atras</a>
      </div>
      <div class="imlogo">
        <img src={% static "app/img/SantotoEscudo.png" %} alt="logou" width="50px" />
      </div>
      <div class="cabeza">
        
      </div>
      <div class="datosr">
        <label for="usuario" class="rusuario">Usuario</label>
        <br />
        <input
          class="registrousario"
          type="text"
          id="registrousuario"
          placeholder="Digite el nombre de usuario"
        />
        <br />
        <label for="contraseña" class="rcontraseña">Contraseña</label>
        <br />
        <input
          class="registrocontraseña"
          type="text"
          id="registrocontraseña"
          placeholder="Digite su contraseña"
        />
        <br />
        <label for="correo" class="rcorreo">Correo</label>
        <br />
        <input
          class="registrocorreo"
          type="text"
          id="registrocorreo"
          placeholder="Digite su correo"
        />
        <br />

        <button class="botonregistro">Registrarse</button>
      </div>
      <div class="logof">
        <img src={% static "app/img/logo-usta.png" %} alt="logo" />
      </div>
    </div>
  </body>
</html>