{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
    .contenedor{
    background: rgb(176,191,5);
    background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
    box-shadow: inset 0px 8px 10px rgba(0, 0, 0, 0.25);

    }


      .grupos a{
        color:white;
        display:grid;
        grid-row:2/3;
        text-decoration:none;
        background-color: #549B9E;
        text-align: center;
        font-size: 40px;
        padding: 40px 90px;
        box-shadow: inset 0px 8px 10px rgba(0, 0, 0, 0.25);
      }
      .grupos :hover{
        background-color: #217c80;
        text-align: center;
        font-size: 40px;
          border-top: 3px solid grey;
          padding: 40px 90px;
      }


      .profesores a{
        color:white;
        display:grid;
        grid-row:2/3;
        text-decoration:none;
        background-color: #549B9E;
        text-align: center;
        font-size: 40px;
          padding: 40px 90px;
          box-shadow: inset 0px 8px 10px rgba(0, 0, 0, 0.25);
      }
      .profesores :hover{
        background-color: #217c80;
        text-align: center;
        font-size: 40px;
          border-top: 3px solid grey;
          padding: 40px 90px;
      }


      .estudiantes a{
        color:white;
        display:grid;
        grid-row:2/3;
        text-decoration:none;
        background-color: #549B9E;
        text-align: center;
        font-size: 40px;
          padding: 40px 90px;
          box-shadow: inset 0px 8px 10px rgba(0, 0, 0, 0.25);
      }
      .estudiantes :hover{
        background-color: #196569;
        text-align: center;
        font-size: 40px;
          border-top: 3px solid grey;
          padding: 40px 90px;
      }

    </style>
    <link rel="stylesheet" href={% static 'app/css/admin.css' %}>
    <title>Administracion</title>
  </head>
  <body>
    <div class="contenedor">
      <div class="fotousuario">
        <img src={% static 'app/img/default-user.png' %} alt="userpic" width="100px" />
        <br>
        <h3>
            Administrador:Pepito Perez
        </h3>
      </div>
      <div class="logousta">
        <img src={% static 'app/img/SantotoEscudo.png'  %} alt="logou" width="100px" />
      </div>
      <div class="grupos">
          <!-- <button class="botongrupos">
              Grupos
          </button> -->
          <a href="{% url 'app:Grupos' %}" >Grupos</a>
      </div>
      <div class="profesores">
          <!-- <button class="botonprofesores">
              Profesores
          </button> -->
          <a href="{% url 'app:Profesores' %}" >Profesores</a>
      </div>
      <div class="estudiantes">
          <!-- <button class="botonestudiantes">
              Estudiantes
          </button> -->
          <a href="{% url 'app:Estudiantes' %}" >Estudiantes</a>
      </div>
      <div class="banner">
          <img src={% static 'app/img/logo-usta.png' %} alt="logof" width="500">
      </div>
      <div class="cerrars">
          <button class="cerrarsesion">
              Cerrar Sesion
          </button>
      </div>
    </div>
  </body>
</html>
