{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      label{
        color:rgb(233, 222, 76);
      }
        input{

        color:rgb(0, 0, 0);
        text-decoration:none;
        background-color: #ffffff;
        text-align: center;
        font-size: 10px;
        padding: 5px 10px;
        box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
        }
    </style>
    <title>Editar Grupo</title>
    <link rel="stylesheet" href={% static "app/css/AdmineditarG.css" %} />
  </head>
  <body>
    <div class="contenedor">
      <div class="batras">
        <button class="botonatras">Atras</button>
      </div>
      <div class="logousta">
        <img src={% static "app/img/SantotoEscudo.png" %} alt="logou" width="100px" />
      </div>
      <div class="titulo">
        <h2>Editar Grupo</h2>
      </div>
      <div class="datosg">
        <br />
        <div class="idgrupo">
          <label for="idgrupo" class="idg">ID del grupo</label>
          <input
            class="idg2"
            type="text"
            id="idg3"
            placeholder="{{grupo.id}}"
          />
          <!-- <label for="idgrupo" class="idg2">{{grupo.id}}</label> -->
        </div>
        <div>
          <label for="asignatura" class="asignatura">Asignatura</label>
          <input
            class="nasignatura"
            type="text"
            id="asignatura"
            placeholder="{{grupo.asignatura}}"
          />
          <!-- <label for="idgrupo" class="idg3">{{grupo.asignatura}}</label> -->
        </div>
      </div>
      <div class="grupo">
        <label for="creargrupo" class="codigogrupo">Codigo</label>
        <input
          class="codigodegrupo"
          type="text"
          id="codigo1"
          placeholder="{{grupo.codigogrupo}}"
        />
        <!-- <label for="idgrupo" class="idg4">{{grupo.codigogrupo}}</label> -->
      </div>
      <div class="editarprofesor">
        <label for="profesor" class="profesor">Profesor</label>
        <input
          class="nprofesor"
          type="text"
          id="profesor"
          placeholder="{{grupo.profesor}}"
        />
        <!-- <label for="idgrupo" class="idg5">{{grupo.profesor}}</label> -->
      </div>
      <div class="editargrupo">
        <button class="beditargrupo">Editar Grupo</button>
      </div>
      <div class="banner">
        <img src={% static "app/img/logo-usta.png" %}  alt="logo" width="600px" />
      </div>
    </div>
  </body>
</html>
