{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      label{
        color:rgb(233, 222, 76);
      }
        input{

        color:rgb(0, 0, 0);
        text-decoration:none;
        background-color: #ffffff;
        text-align: center;
        font-size: 20px;
        padding: 10px 10px;
        box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
        }
    </style>
    <title>Agregar Estudiante</title>
    <link rel="stylesheet" href={% static "app/css/AdminEliminarG.css" %} />
  </head>
  <body>
    <div class="contenedor">
      <div class="batras">
        <button class="botonatras">Atras</button>
      </div>
      <div class="logousta">
        <img src={% static "app/img/SantotoEscudo.png" %} alt="logou" width="100px" />
      </div>
      <div class="titulo">
        <h2>Agregar estudiante</h2>
      </div>
      <div class="datosg">
        <div class="idgrupo">
          <label for="idgrupo" class="idg">ID del grupo :</label>
          <label for="idgrupo" class="idg5">{{ grupo.id }}</label>
          <!-- <input
            class="idg2"
            type="text"
            id="idg3"
            placeholder="Digite el ID del grupo"
          /> -->
        </div>
        <br>
        <div class="idest">
            <label for="idest" class=idestudiante> ID del estudiante</label>
            <input 
            class=idest2 
            type="text"
            id=idest
            placeholder="Digite el ID del estudiante"
            />
        </div>
        <div class="nota">
            <h3 class="tnota">NOTA:
            </h3>
            <p class="texto">- No se puede agregar un estudiante que ya se encuentra en el grupo.
                <br>
                - Si el estudiante ya existe en el grupo debe mostrar un mensaje de error.
            </p>
        </div>
      </div>

      <div class="editargrupo">
        <button class="beditargrupo">Agregar Estudiante</button>
      </div>

      <div class="banner2">
        <img src={% static "app/img/logo-usta.png" %} alt="logo" width="600px" />
      </div>
    </div>
  </body>
</html>