{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .contenedor{
      background: rgb(176,191,5);
      background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
      }
      label{
        color:rgb(233, 222, 76);
      }
        input{

        color:rgb(0, 0, 0);
        text-decoration:none;
        background-color: #ffffff;
        text-align: center;
        font-size: 10px;
        padding: 5px 10px;
        box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
        }
      </style>
    <title>Editar Estudiante</title>
    <link rel="stylesheet" href={% static "app/css/AdminCrearP.css" %} />
  </head>
  <body>
    <div class="contenedor">
      <div class="batras">
        <button class="botonatras">Atras</button>
      </div>
      <div class="logousta">
        <img src={% static "app/img/SantotoEscudo.png" %} alt="logou" width="100px" />
      </div>
      <div class="titulo">
        <h2>Editar Estudiante</h2>
      </div>
      <div class="datosg">
        <div class="ID">
          <label for="ID" class="tid"
            >ID del Estudiante</label
          >
          <input
            class="nid"
            type="number"
            id="id"
            placeholder="{{ estudiante.id }}"
          />
        </div> 
        <br>
        <div class="apellidos">
          <label for="apellidos" class="tapellidos">Apellidos</label>
          <input
            class="napellidos"
            type="text"
            id="apellidos"
            placeholder="{{ estudiante.apellido }}"
          />
        </div>
        <br />
        <div class="nombres">
          <label for="nombres" class="tnombres">Nombres</label>
          <input
            class="nnombres"
            type="text"
            id="nombres"
            placeholder="{{ estudiante.nombres }}"
          />
        </div>
        <br />
        <div class="email">
          <label for="email" class="temail">E-Mail</label>
          <input
            class="nemail"
            type="text"
            id="email"
            placeholder="{{ estudiante.email }}"
          />
        </div>
        <br />
        <div class="codigo">
            <label for="codigo" class="tcodigo">Codigo</label>
            <input 
            class="ncodigo"
            type="number"
            id="codigo"
            placeholder="{{ estudiante.codigo }}"
            >
        </div>
 
        <br />
        <br />
        <br />
        <br />
      </div>
      
      <div class="crearprofesor">
        <button class="bcrearprofesor">Editar Estudiante</button>
      </div>
      <div class="banner">
        <img src={% static "app/img/logo-usta.png" %} alt="logo" width="600px" />
      </div>
    </div>
  </body>
</html>