{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>label{
      color:rgb(233, 222, 76);
    }
      input{

      color:rgb(0, 0, 0);
      text-decoration:none;
      background-color: #ffffff;
      text-align: center;
      font-size: 10px;
      padding: 5px 10px;
      box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
      }
      </style>
    <title>Crear Grupo</title>
    <link rel="stylesheet" href={% static "app/css/AdmincrearG.css" %} />
  </head>
  <body>
    <div class="contenedor">
      <div class="batras">
        <button class="botonatras">Atras</button>
      </div>
      <div class="logousta">
        <img src={% static "app/img/SantotoEscudo.png" %} alt="logou" width="100px" />
      </div>
      <div class="titulo">
        <h2>Crear Grupo</h2>
      </div>
      <div class="datosg">
        <div class="grupo">
          <label for="creargrupo" class="codigogrupo">Codigo de grupo</label>
          <input
            class="codigodegrupo"
            type="text"
            id="codigo1"
            placeholder="Digite el código del grupo"
          />
        </div>
        <br>
        <div class="nombreasignatura">
          <label for="asignatura" class="asignatura">Asignatura</label>
          <input
            class="nasignatura"
            type="text"
            id="asignatura"
            placeholder="Digite el nombre de la asignatura"
          />
        </div>
        <br>
        <div>
          <label for="semestre" class="semestre">Semestre</label>
          <input
            class="nsemestre"
            type="number"
            id="semestre"
            placeholder="Digite el semestre"
          />
        </div>
        <br>
        <div>
          <label for="profesor" class="profesor">Profesor</label>
          <input
            class="nprofesor"
            type="text"
            id="profesor"
            placeholder="Digite el nombre del Profesor"
          />
        </div>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class="creargrupo">
        <button class="bcreargrupo">Crear Grupo</button>
      </div>
      <div class="banner">
        <img src={% static "app/img/logo-usta.png" %} alt="logo" width="600px" />
      </div>
    </div>
  </body>
</html>
