{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      label{
        color:rgb(233, 222, 76);
      }
        input{

        color:rgb(0, 0, 0);
        text-decoration:none;
        background-color: #ffffff;
        text-align: center;
        font-size: 10px;
        padding: 5px 10px;
        box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
        }
        h3{
          color:red;
        }

    </style>
    <title>Eliminar Grupo</title>
    <link rel="stylesheet" href={% static "app/css/AdminEliminarG.css" %} />
  </head>
  <body>
    <div class="contenedor">
      <div class="batras">
        <button class="botonatras">Atrás</button>
      </div>
      <div class="logousta">
        <img src={% static "app/img/SantotoEscudo.png" %} alt="logou" width="100px" />
      </div>
      <div class="titulo">
        <h2>Eliminar Grupo</h2>
      </div>
      <div class="datosg">
        <div class="idgrupo">
          <label for="idgrupo" class="idg">ID del grupo :</label>
          <label for="idgrupo" class="idg5">{{ grupo.id }}</label>
          <!-- <input
            class="idg2"
            type="text"
            id="idg3"
            placeholder="Digite el ID del grupo"
          /> -->
        </div>
        <br>
        <div class="nota">
            <h3 class="tnota">NOTA:
            </h3>
            <p class="texto">Si el grupo tiene estudiantes inscritos, se eliminan los estudiantes del grupo y luego se elimina el grupo.</p>
        </div>
      </div>
      <div class="editargrupo">
        <button class="beditargrupo">Eliminar Grupo</button>
      </div>

      <div class="banner2">
        <img src={% static "app/img/logo-usta.png" %} alt="logo" width="600px" />
      </div>
    </div>
  </body>
</html>
