{% load static %}
<html>
  <head>
    <style>
      .contenido{
      background: rgb(176,191,5);
      background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
      }
  
  
        .botones a{
          color:white;
          display:grid;
          grid-row:2/3;
          text-decoration:none;
          background-color: #549B9E;
          text-align: center;
          font-size: 20px;
          padding: 10px 10px;
        }
        .botones :hover{
          background-color: #217c80;
          text-align: center;
          font-size: 20px;
          border-top: 3px solid grey;
        }

        .imagenatras a{
          color:white;
          display:grid;
          grid-row:2/3;
          text-decoration:none;
          background-color: #549B9E;
          text-align: center;
          font-size: 20px;
          padding: 10px 10px;
        }
        .imagenatras :hover{
          background-color: #217c80;
          text-align: center;
          font-size: 20px;
          border-top: 3px solid grey;
        }
        label{
          color:aliceblue;
        }
        a{
          color:rgb(18, 212, 18);
        }
        th{
          background:rgb(165, 87, 87);

          color:rgb(255, 247, 0);
        }
        table{
          background:red;
        }
        tr{
          color:rgb(255, 255, 255);

        }
    </style>
    <script src="https://kit.fontawesome.com/96e0ae4487.js" crossorigin="anonymous"></script>





    <title>AdminGVLG</title>
    <link rel="stylesheet" href={% static "app/css/Admlista.css" %} />
  </head>
  <body>
    <div class="contenido">
      <div class="imagenatras">
       <div>
        <!-- <button class="botonatras">Atras</button> -->
        <a href="{% url 'app:admin' %}" class="botonatras">Atras</a>
    </div>
        <img src={% static "app/img/default-user.png" %} alt="userpic" width="100px" />
        <br />
        <h3>Administrador:Pepito Perez</h3>
      </div>
      <div class="botones">
          <div class="botones001">
        <!-- <button class="boton1">Crear Grupos</button> -->
        <a href="{% url 'app:Crear Grupo' %}" class="boton1">Crear Grupo</a>
        {% comment %}
        <!-- <button class="boton2">Editar Grupo</button> -->
      
        <!-- <button class="boton3">Ver Admin G</button> -->
        <!-- <a href="{% url 'app:Cocina' %}" class="boton3">Inf.Grupo</a> -->
        <!-- <button class="boton4">Eliminar Grupo</button> -->
        <!-- <a href="{% url 'app:Eliminar Grupo' %}" class="boton4">Eliminar Grupo</a> -->
        {% endcomment %}
        </div>
        
        <div class="botones002">
        {% comment %}
        <!-- <button class="boton5">Agregar Estudiante</button> -->
        <!-- <a href="{% url 'app:Agregar Estudiante' %}" class="boton5">Agregar Estudiante</a> -->
        <!-- <button class="boton6">Pagina Principal</button> -->
        {% endcomment %}
        <a href="{% url 'app:admin' %}" class="boton6">Pagina Principal</a>
        </div>
      </div>
      <div class="logousta">
        <img src={% static "app/img/SantotoEscudo.png" %} alt="logou" width="100px" />
      </div>

      <div class="tabla">
        <table border="1">
            <label for="Listg"  class="titulota">Listas de Grupos</label>          
          <tr>
            <th>ID Grupo</th>
            <th>Codigo Grupo</th>
            <th>Asignatura</th>
            <th>Semestre</th>
            <th>Profesor</th>
            <th>Numero Estudiante</th>
            <th>Editar</th>
            <th>Inf.Grupo</th>
            <th>Eliminar Grupo</th>
            <th>Agregar Estudiante</th>
          </tr>
          {% for grupo in listag %}
          <tr>
            <td>{{ grupo.id }}</td>
            <td>{{ grupo.codigogrupo }}</td>
            <td>{{ grupo.asignatura }}</td>
            <td>{{ grupo.semestre }}</td>
            <td>{{ grupo.profesor }}</td>
            <td>{{ grupo.numeroestudiante }}</td>
            <td><a href="{% url 'app:Editar Grupo' grupo.id %}" class="boton2"><i class="fas fa-edit"></i></a></td>
            <td><a href="{% url 'app:infga' grupo.id %}" class="boton3"><i class="fas fa-info"></i></a></td>
            <td><a href="{% url 'app:EliminarGrupo' grupo.id %}" class="boton4"><i class="far fa-trash-alt"></i></a></td>
            <td><a href="{% url 'app:AgregarEstudiante' grupo.id %}" class="boton5"><i class="fas fa-user-plus"></i></a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="banner">
        <img src={% static "app/img/logo-usta.png" %} alt="logof" width="500" />
      </div>
      <div class="cerrars">
        <button class="cerrarsesion">Cerrar Sesion</button>
      </div>
    </div>
  </body>
</html>
