{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <style>
      .contenedor{
      background: rgb(176,191,5);
      background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
      }
      label{
        color:rgb(233, 222, 76);
      }
        input{

        color:rgb(0, 0, 0);
        text-decoration:none;
        background-color: #ffffff;
        text-align: center;
        font-size: 10px;
        padding: 5px 10px;
        box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
        }
    </style>

    <title>Crear Profesor</title>
    <link rel="stylesheet" href={% static "app/css/AdminCrearP.css" %} />
  </head>
  <body>
    <div class="contenedor">
      <div class="batras">
        <button class="botonatras">Atras</button>
      </div>
      <div class="logousta">
        <img src={% static "app/img/SantotoEscudo.png" %} alt="logou" width="100px" />
      </div>
      <div class="titulo">
        <h2>Crear Profesor</h2>
      </div>
      <div class="datosg">
        <div class="apellidos">
          <label for="apellidos" class="tapellidos">Apellidos</label>
          <input
            class="napellidos"
            type="text"
            id="apellidos"
            placeholder="Digite los apellidos"
          />
        </div>
        <br />
        <div class="nombres">
          <label for="nombres" class="tnombres">Nombres</label>
          <input
            class="nnombres"
            type="text"
            id="nombres"
            placeholder="Digite los Nombres"
          />
        </div>
        <br />
        <div class="email">
          <label for="email" class="temail">E-Mail</label>
          <input
            class="nemail"
            type="text"
            id="email"
            placeholder="Digite el e-mail"
          />
        </div>
        <br />
        <div class="check">
            <label for="check" class="tcheck">¿Cátedra?</label>
            <input 
            type="radio" 
            id="Si" 
            name="catedra" 
            value="Si">
            <label for="Si">Si</label>
            <input 
            type="radio" 
            id="No" 
            name="catedra" 
            value="No">
            <label for="No">No</label>
            
        </div>
          <br>
        <div class="contraseña">
          <label for="contraseña" class="tcontraseña"
            >Contraseña del Profesor</label
          >
          <input
            class="ncontraseña"
            type="password"
            id="contraseña"
            placeholder="Digite la contraseña del Profesor"
          />
        </div> 
        <div class="nota">
            <h3 class="tnota">NOTA:
            </h3>
            <p class="texto">- No se puede agregar un profesor con un email
                <br>ya existente.
                <br>
                - Si ya existe un profesor con el email digitado
                <br>
                 se debe mostrar un mensaje de error.
            </p>
        </div>
        <br />
        <br />
        <br />
        <br />
      </div>
      
      <div class="crearprofesor">
        <button class="bcrearprofesor">Crear Profesor</button>
      </div>
      <div class="banner">
        <img src={% static "app/img/logo-usta.png" %} alt="logo" width="600px" />
      </div>
    </div>
  </body>
</html>
