{% load static %}
<html>
  <head>
    <style>
      .contenido{
      background: rgb(176,191,5);
      background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
      }
  
        .botones a{
          color:white;
          display:grid;
          grid-row:2/3;
          text-decoration:none;
          background-color: #549B9E;
          text-align: center;
          font-size: 20px;
          padding: 10px 10px;
        }
        .botones :hover{
          background-color: #217c80;
          text-align: center;
          font-size: 20px;
          border-top: 3px solid grey;
        }
        label{
          color:aliceblue;
        }
        a{
          color:rgb(18, 212, 18);
        }
        th{
          background:rgb(165, 87, 87);

          color:rgb(255, 247, 0);
        }
        table{
          background:red;
        }
        tr{
          color:rgb(255, 255, 255);

        }
    </style>
    <title>AdminPVLPA</title>
    <link rel="stylesheet" href={% static "app/css/Admlista.css" %} />
  </head>
  <body>
    <div class="contenido">
      <div class="imagenatras">
        <div>
          <button class="botonatras">Atras</button>
        </div>
        <img src={% static "app/img/default-user.png" %} alt="userpic" width="100px" />
        <br />
        <h3>Administrador:Pepito Perez</h3>
      </div>
      <div class="botones">
        <div class="botones001">
          <!-- <button class="boton1">Crear Profesor</button> -->
          <a href="{% url 'app:Crear Profesor' %}" class="boton1">Crear Profesor</a>
          <!-- <button class="boton3">Pagina Principal</button> -->
          <a href="{% url 'app:admin' %}" class="boton3">Pagina Principal</a>
        </div>
      </div>
      <div class="logousta">
        <img src={% static "app/img/SantotoEscudo.png" %} alt="logou" width="100px" />
      </div>

      <div class="tabla">
        <div class="ttabla">
            <label for="" class="titulo">ID De Grupo :</label>
            <div class="nid">
                <label for="Numero" class="numeroid">1</label>
              </div>
          </div>
        <table border="1">
          <label for="Listg" class="titulota">Profesores</label>
          <tr>
              <!--el rowspan es para que llege filas y colspan columnas-->
            <th rowspan="2">Id Grupo</th>
            <th rowspan="2">Apellidos</th>
            <th rowspan="2">Nombres</th>
            <th rowspan="2">Email</th>
            <th colspan="4">Lista de Cursos</th>
          </tr>
          <tr>
            <th>Semestre</th>
            <th>Codigo</th>
            <th>Asignatura</th>
            <th>Cantidad de Estudiante</th>
          </tr>
          <tr>
              <td rowspan="3">1</td>
              <td rowspan="3">Acosta Mendez</td>
              <td rowspan="3">Alexandra</td>
              <td rowspan="3">alexandrac@gmail.com</td>
              <td>2</td>
              <td>21445</td>
              <td>Cocina</td>
              <td>4</td>
          </tr>
          <tr>
              <td>4</td>
              <td>12356</td>
              <td>Fisica</td>
              <td>12</td>
          </tr>
          <tr>
              <td>6</td>
              <td>12468</td>
              <td>Diseño y Corte de Metales</td>
              <td>30</td>
          </tr>
        </table>
      </div>
      <div class="banner">
        <img src={% static "app/img/logo-usta.png" %} alt="logof" width="500" />
      </div>
      <div class="cerrars">
        <button class="cerrarsesion">Cerrar Sesion</button>
      </div>
    </div>
  </body>
</html>
