{% load static %}
<html>
  <head>

    <style>
      .contenido{
      background: rgb(176,191,5);
      background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
      }

      .botones a{
        color:white;
        display:grid;
        grid-row:2/3;
        text-decoration:none;
        background-color: #549B9E;
        text-align: center;
        font-size: 20px;
        padding: 10px 10px;
      }
      .botones :hover{
        background-color: #217c80;
        text-align: center;
        font-size: 20px;
        border-top: 3px solid grey;
      }
      label{
          color:aliceblue;
        }
        a{
          color:rgb(18, 212, 18);
        }
        th{
          background:rgb(165, 87, 87);

          color:rgb(255, 247, 0);
        }
        table{
          background:red;
        }
        tr{
          color:rgb(255, 255, 255);

        }
      </style>


    <script src="https://kit.fontawesome.com/96e0ae4487.js" crossorigin="anonymous"></script>
    <title>AdminGVGGA</title>
    <link rel="stylesheet" href={% static "app/css/Admlista.css" %} />
  </head>
  <body>
    <div class="contenido">
      <div class="imagenatras">
        <div>
          <button class="botonatras">Atras</button>
        </div>
        <img src={% static "app/img/default-user.png" %} alt="userpic" width="100px" />
        <br />
        <h3>Administrador:Pepito Perez</h3>
      </div>
      <div class="botones">
        <div class="botones001">
          <!-- <button class="boton1">Crear Grupos</button> -->
          <!-- <button class="boton2">Editar Grupo</button> -->
          <!-- <button class="boton3">Pagina Principal</button> -->
          <a href="{% url 'app:admin' %}" class="boton3">Pagina Principal</a>
          <!-- <button class="boton4">Eliminar Grupo</button> -->
        </div>

        <div class="botones002">
          {% comment %}
          <!-- <button class="boton5">Agregar Estudiante</button> -->
          <!-- <a href="{% url 'app:Agregar Estudiante' %}" class="boton5">Agregar Estudiante</a> -->
          {% endcomment %}
        </div>
      </div>
      <div class="logousta">
        <img src={% static "app/img/SantotoEscudo.png" %} alt="logou" width="100px" />
      </div>

      <div class="tabla">
        <div class="ttabla">
          <label for="" class="titulo">ID De Grupo :</label>
          <div class="nid">
              <label for="Numero" class="numeroid">{{ grupo.id }}</label>
            </div>
        </div>

        <table border="1">
          <label for="Listg" class="titulota">Listas de Grupos</label>
          <tr>
            <th>ID Grupo</th>
            <th>Codigo Grupo</th>
            <th>Asignatura</th>
            <th>Semestre</th>
            <th>Profesor</th>
            <th>Numero Estudiante</th>
            <th>Editar</th>
            <th>Agregar Estudiante</th>
          </tr>
          <tr>
            {% if grupo %}
            <td>{{ grupo.id }}</td>
            <td>{{ grupo.codigogrupo }}</td>
            <td>{{ grupo.asignatura }}</td>
            <td>{{ grupo.semestre }}</td>
            <td>{{ grupo.profesor }}</td>
            <td>{{ grupo.numeroestudiante }}</td>
            <td><a href="{% url 'app:Editar Grupo' grupo.id %}" class="boton2"><i class="fas fa-edit"></i></a></td>
            <td><a href="{% url 'app:AgregarEstudiante' grupo.id %}" class="boton5"><i class="fas fa-user-plus"></i></a></td>
            {% endif %}
          </tr>
        </table>
      </div>
      <div class="banner">
        <img src={% static "app/img/logo-usta.png" %} alt="logof" width="500" />
      </div>
      <div class="cerrars">
        <button class="cerrarsesion">Cerrar Sesion</button>
      </div>
    </div>
  </body>
</html>
