body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    background: rgb(176,191,5);
    background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
    }
    
.batras{
    grid-area: batras;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: start;
    align-items: flex-start;
}
.logousta{
    grid-area: logo;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    justify-self: end;
    align-items: center; 
}

.titulo{
    grid-area: titulo;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center;
    font-size: 30px;
}
.banner{
    grid-area: banner;
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center;
}
.datosg{
    grid-area: grupo;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center;
}
.tapellidos{
    font-size: 25px;
    
}

.tnombres{
    font-size: 25px;
}
.temail{
    font-size: 25px;
}
.tcheck{
    font-size: 25px;
}
.tcontraseña{
    font-size: 25px;
}
.tid{
    font-size: 25px;
}
.tnota{
    font-size: 25px;
}
.texto{
    font-size: 20px;
    background-color:#549B9E ;
}
.tcodigo{
    font-size: 25px;
}
.napellidos{
    width: 345px;
}
.nnombres{
    width: 350px;
}
.nemail{
    width: 370px;
}
.ncontraseña{
    width: 200px;
}
.ncodigo{
    width: 370px;
}
.nid{
    width: 265px;
}
.botonatras{
    font-size: 20px;
    background-color: #549B9E;
}

.crearprofesor{
    grid-area: boton;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: flex-end;
}
.bcrearprofesor{
    font-size: 20px;
    background-color: #549B9E
}