body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    background: rgb(176,191,5);
    background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
    }
.fotousuario{
    grid-area: foto;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: start;
    align-items: center;
}
.logousta{
    grid-area: logo;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    justify-self: end;
    align-items: start; 
}
.grupos{
    grid-area: boton1;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1/ 2;
    justify-self: center;
    align-items: center; 
}
.profesores{
    grid-area: boton2;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2/ 3;
    justify-self: center;
    align-items: center; 
}
.estudiantes{
    grid-area: boton3;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    justify-self: center;
    align-items: center; 
}
.banner{
    grid-area: logof;
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center; 
}
.cerrars{
    grid-area: boton4;
    display: grid;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    justify-self: center;
    align-items: center; 
}
.botongrupos{
    font-size: 20px;
    background-color: #549B9E;
}
.botonprofesores{
    font-size: 20px;
    background-color: #549B9E;
}
.botonestudiantes{
    font-size: 20px;
    background-color: #549B9E;
}
.cerrarsesion{
    font-size: 20px;
    background-color: #549B9E;
}
