body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    background: rgb(176,191,5);
    background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
}
.batras{
    grid-area: batras;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: start;
    align-items: flex-start;
}
.logousta{
    grid-area: logo;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    justify-self: end;
    align-items: center; 
}

.titulo{
    grid-area: titulo;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center;
    font-size: 30px;
}
.banner{
    grid-area: banner;
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center;
}
.datosg{
    grid-area: grupo;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center;
}
.editargrupo{
    grid-area: boton;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: flex-end;
}
.grupo{
    grid-area: codgrupo;
    /* display: grid; */
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-self: center;
    padding-left: 20px;
    /*justify-items: center; */
}
.editarprofesor{
    grid-area: profesor;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    align-self: center;
    justify-items: center;
}
.idg{
    font-size: 25px;
}
.idg2{
    font-size: 25px;
}
.idg3{
    font-size: 25px;
}
.idg4{
    font-size: 25px;
}
.idg5{
    font-size: 25px;
}
.codigogrupo{
    font-size: 25px;
    text-align: left;
}

.semestre{
    font-size: 25px;
}
.profesor{
    font-size: 25px;
}
.asignatura{
    font-size: 25px;
}
.nasignatura{
    width: 230px;
}
.nsemestre{
    width: 245px;
}
.nprofesor{
    width: 255px;
}
.botonatras{
    font-size: 20px;
    background-color: #549B9E;
}
.beditargrupo{
    font-size: 20px;
    background-color: #549B9E;
}