body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    background-color: #C1FBFF;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 0.5fr 1fr 1fr / 0.5fr 2fr 0.5fr;
}
.batras{
    grid-area: batras;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: start;
    align-items: flex-start;
}
.logousta{
    grid-area: logo;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    justify-self: end;
    align-items: center; 
}

.titulo{
    grid-area: titulo;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center;
    font-size: 30px;
}
.banner{
    grid-area: banner;
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center;
}
.datosg{
    grid-area: grupo;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center;
}
.crearactividad{
    grid-area: boton;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: flex-end;
}
.tactividad{
    font-size: 25px;
}
.ttexto{
    font-size: 25px;
}
.nactividad{
    width: 300px;
}
.botonatras{
    font-size: 20px;
    background-color: #549B9E;
}
.bcrearactividad{
    font-size: 20px;
    background-color: #549B9E;
}