body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
.contenedor{
    background: rgb(176,191,5);
    background: linear-gradient(0deg, rgba(176,191,5,1) 0%, rgba(2,0,36,1) 9%, rgba(9,9,121,1) 57%, rgba(235,242,244,1) 100%);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 0.5fr 1fr 1fr / 1fr 1fr 1fr;
    }
.cabeza{
    grid-area: cabeza;
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center;    
}
.tronco1{
    grid-area: tronco1;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
    align-items: center;   
    padding: 200px; 
}
.finalp{
    grid-area: tronco1;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    justify-self: center;
    align-items: center;  
}
.cabeza img{
width: 500px;
}
.usuario{
    font-size: 25px;
}
.contraseña{
    font-size: 25px;
}
.botonregistro{
    background-color: #549B9E;
    text-align: center;
}
.botoninicio{
    background-color: #549B9E;
}

